article.faq {
  font-size: 18px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem 0;
  }

  ol li {
    margin: 1rem 0;
  }
}

body:not(.logged-in) .logged-in-only {
  display: none;
}

body:not(.is-admin) .admin-only {
  display: none;
}

.logged-in .logged-out-only {
  display: none;
}

.alert {
  margin: 1rem 0 !important;
}

#alert-area:not(:empty) {
  padding: 5px 4px;
}

.body {
  padding: 30px 10px 0 10px;
}

.no-indent {
  padding-left: 0;
}

.indent-left {
  padding-left: 20px;
}

.no-margin {
  margin: 0;
}

.greyscale-icon,
.greyscale-icon:hover {
  color: $body-color;
  // color: #222;
  text-decoration: none;
  font-size: 2rem;
  margin-top: -0.75rem;
}

// Errors
.error-body {
  display: none;
  text-align: center;
  width: 40vw;
  margin: auto;
  margin-top: 10vh;
}

.error-thrown .error-body {
  display: block;
}

.error-thrown .body {
  display: none;
}

// Garfield
.access-denied {
  margin-top: 2vh;
  display: none;
}

body.show-garfield .access-denied {
  display: block;
}

body.show-garfield .body {
  display: none;
}

.garfield-column {
  display: inline-block;
  width: 60vw;
  padding-left: 1em;
}

.garfield-column img {
  width: 60vw;
}

.error-column {
  display: inline-block;
  width: 35vw;
  text-align: right;
  font-size: 1.65em;
}

#gdpr-delete {
  margin-right: auto;
}

.width-100vw {
  width: 100vw;
}

.no-js {
  margin-top: 1em;
}

html.delicious {
  *:after,
  *:before,
  * {
    background-image: url("https://duckymo.duckymomo.club/i/zoue.png");
    content: " ";
    background-size: cover;
    // height: 1em;
    // width: 1em;
    animation: boogaloo infinite linear 1s;

    -webkit-text-fill-color: transparent;
  }
}

footer {
  text-align: center;
}

html:not(.blackbox-recording) .blackbox-btns {
  display: none;
}
