extends template.pug
block content
  h2 About us
  h3 Our team
  div.row.no-gutter.no-indent.no-margin
    div.col-12.col-sm-12.col-md-6.col-lg-4
      div.team-member
        div.avatar-contain
          img(src=require("@/images/ave-pride-month.svg")).team-member-avatar
        div.team-member-brick
          h3(data-discordtag="ave#5554").team-name Ave
          span.specialties Ms Boss Lady
          a(href="xmpp:a@a3.pm?message").other-contacts
            img(src=require("@/icons/xmpplogo.svg"))
          a(href="xmpp:aoz@member.fsf.org?message").other-contacts
            img(src=require("@/icons/xmpplogo.svg"))
          a(href="xmpp:avery@jabber.ccc.de?message").other-contacts
            img(src=require("@/icons/xmpplogo.svg"))
    div.col-12.col-sm-12.col-md-6.col-lg-4
      div.team-member
        div.avatar-contain
          img(src=require("@/images/luna-pride-month.svg")).team-member-avatar
        div.team-member-brick
          h3(data-discordtag="luna#6735").team-name Luna
          span.specialties Backend Developer
          a(href="xmpp:l@a3.pm?message").other-contacts
            img(src=require("@/icons/xmpplogo.svg"))
          a(href="xmpp:lnmds@jabber.ccc.de?message").other-contacts
            img(src=require("@/icons/xmpplogo.svg"))
    div.col-12.col-sm-12.col-md-6.col-lg-4
      div.team-member
        div.avatar-contain
          img(src=require("@/images/mary-pride-month.svg")).team-member-avatar
        div.team-member-brick
          h3(data-discordtag="Mary#1212").team-name Mary
          span.specialties Frontend Developer
          a(href="xmpp:marydevice@jabber.ccc.de?message").other-contacts
            img(src=require("@/icons/xmpplogo.svg"))
    div.col-12.col-sm-12.col-md-6.col-lg-4
      div.team-member
        div.avatar-contain
          img(src=require("@/images/slice.svg")).team-member-avatar
        div.team-member-brick
          h3(data-discordtag="slice#0001").team-name slice
          span.specialties Frontend Developer

  if config.SUPPORTERS && config.SUPPORTERS.length
    h3 ELPlatinum (blame Ave...)
    each supporter in config.SUPPORTERS
      div.row.no-gutter.no-indent.no-margin
        div.col-12.col-sm-12.col-md-6.col-lg-4
          div.team-member
            div.avatar-contain
              img(src=supporter.avatar).team-member-avatar
            div.team-member-brick
              h3(data-discordtag=supporter.discordTag).team-name= supporter.name
              span.specialties= supporter.message

  h4 So, you in?
  p
   | Great! Check out
   |
   a(href="https://gitlab.com/elixire") the source
   | ! Happy hacking!

  div.doc-spacing

  h4 Have something to report?
  p
   | Please send us an email at
   |
   a(href="mailto:report@elixi.re") report@elixi.re
   |  with the problematic URL and the reasoning, and we'll deal with it ASAP.
