//- TODO: does this stuff belong somewhere else?
- const path = require("path");
- const config = require("../config.json");
- const URL = config.SERVICE_URL + "/" + htmlWebpackPlugin.options.filename;
- const LOGO_URL = config.SERVICE_URL + path.resolve(require("@/images/logo.png"));

html(prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-type", content="text/html; charset=utf-8")
    title #{htmlWebpackPlugin.options.title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property="og:title", content=htmlWebpackPlugin.options.title)
    meta(property="og:type", content="website")
    meta(property="og:url", content=URL)
    meta(property="og:image", content=LOGO_URL)
    meta(property="og:site_name", content=config.SERVICE_NAME)
    meta(property="og:description", content=config.SERVICE_NAME + " is a free and open-source filehost and link shortener!")
    meta(property="og:determiner", content="a")
    meta(property="og:locale", content="en_US")
    meta(property="og:locale:alternate", content="en_GB")
    link(rel="icon", href=require("@/images/small-favicon.svg"))
    link(rel="icon", href=require("@/images/small-favicon.png"))
  body
    .page-content
      .page-navbar
         nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
           a(href="/").navbar-brand.intellectual-link #{config.SERVICE_NAME}
           button(type="button", data-toggle="collapse", data-target="#homenav").navbar-toggler
             span.navbar-toggler-icon
           div.collapse.navbar-collapse#homenav
             ul.navbar-nav.mr-auto
               li.nav-item
                 a(href="/").nav-link.intellectual-link Home
               li.nav-item
                 a(href="/about.html").nav-link.intellectual-link About Us
               li.nav-item
                 a(href="/faq.html").nav-link.intellectual-link FAQ
               li.nav-item.logged-in-only
                 a(href="/upload.html").nav-link.intellectual-link Upload
               li.nav-item.logged-in-only
                 a(href="/shorten.html").nav-link.intellectual-link Shorten
             //- This should be on far-right side
             ul.navbar-nav 
               li.nav-item.logged-out-only
                 a(href="/signup.html").nav-link.intellectual-link Signup
               li.nav-item.logged-out-only
                 a(href="/login.html").nav-link.intellectual-link Login
               li.nav-item.logged-in-only.dropdown
                 a(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").nav-link.dropdown-toggle#nav-account Account
                 div.dropdown-menu.dropdown-menu-right
                   a(href="/account.html").dropdown-item.intellectual-link My Account
                   a(href="/uploader.html").dropdown-item.intellectual-link Uploader Settings
                   a(href="/list.html").dropdown-item.intellectual-link File List
                   a(href="/shortlist.html").dropdown-item.intellectual-link Shortened Links
                   a(href="/logout.html").dropdown-item.intellectual-link Log out
                   div.dropdown-divider.admin-only
                   a(href="/admin/").dropdown-item.admin-only Admin panel
                   a(href="/admoon.html").intellectual-link.dropdown-item.admin-only Bootstrap Admin Panel
                   
      noscript
        div.row.width-100vw.no-js
          div.text-right.col-6.md-col-12
            img(src=require("@/images/rms-x-gnu.svg"), alt="Patachu and Richard Stallman")
          .col-6.md-col-12
            h1 Allow Our Javascript Please!
            div.error-description
              | Sorry! We try our best to work even without javascript, but all your data is handled on the client side so there's not much you can do but poke around a bit on our FAQ page and see our homepage... This website does not host any non-free javascript or tracking code, all the source code that powers it is available at #[a(href=config.GITLAB_URL) our gitlab project]!

      .error-body
        h2 Oopsie Woopsie!
        p.error-text
          | We did a fucky wucky UwU! A real bingo bango! Ouw engineews awe working 
          b
            i VEWY
          |  hawd to fix it :3! Why don't you join ouw 
          a(href=config.DISCORD_INV)#error-invite RP Discord server
          |  so we can help you OwO
        p.blackbox-invitation
          p Enable the blackbox to verbosely log all events into LocalStorage for debugging purposes! Note that these logs are *very big* and it's not recommended you share them with anyone outside the development team.
          button(type="button")#blackbox-toggle.btn.btn-danger Enable the blackbox!
          div.blackbox-btns
            a(role="button", href="#").blackbox-btn#dump-blackbox Dump blackbox
        p.error-info
          b Hewwo! Dis should be included in youw error repowt.
          br
          | Error thrown: 
          code#garfield-error-info undefined
          |  in 
          code#garfield-error-filename undefined.js:1:1
          | .
          br
          | Stack: 
          br
          code#garfield-error-stack-trace undefined
          br
          | UA: 
          code#garfield-error-useragent undefined
          br
          | Location: 
          code#garfield-error-location undefined
          br
          | Endpoint: 
          code#garfield-error-endpoint undefined
          br
          | _ratelimited? 
          code#garfield-error-ratelimited undefined
          br
          | Token metadata: 
          code#garfield-error-token-metadata undefined
          br
          | Profile?: 
          code#garfield-error-profile undefined
          br
          | profile-cache?: 
          code#garfield-error-profile-cache undefined


      .access-denied
        .garfield-column
           img(src=require("@/images/garfield-access-denied.svg"), alt="Access denied")
        .error-column
           h1 Access Denied!
           div.error-description
             | Looks like you're not allowed in here!
             br
             | Have you tried 
             a(href="/login.html")#garfield-login logging in
             | ?
      
      .body
        block body
        .content
        .container
          #alert-area
          block content
          span(data-toggle="modal", data-target="#gdpr-modal", data-backdrop="static", data-keyboard="false")#open-gdpr-modal
        
          div(tabindex="-1", role="dialog").modal.fade#gdpr-modal
            div(role="document").modal-dialog
              div.modal-content
                div.modal-header
                  h5.modal-title Data Consent
                div.modal-body.needs-validation
                  p.text-muted
        
                    | To use this service, you must agree to the following:
                    ul
                      li Your information may be shared within our core development team.
                      li Your information may be processed to provide us with service statistics, these statistics may be shared publicly.
                      li Your information may be processed by Cloudflare (one of our providers) to provide statistics. If you choose to use a domain that is not owned by #{config.SERVICE_NAME} team, owners of those domains may view these statistics. If you want to make sure that your data stays inside the #{config.SERVICE_NAME} service, please use one of the official domains.
                      li Your information will not be used for advertising purposes or be sold.
                      if config.PRIVACY_POLICY
                         li
                           | You have read, understand, and accept our 
                           a(href="/privacy.html") privacy policy
                           | .
                  | If you don't want any processing of your data, hit 'Delete Account' below and we'll remove your data as soon as possible. If you want to opt out of most processing, untick the "I agree to have my stats published" checkbox below.
                  form(novalidate=true).needs-validation.logged-in-only#gdpr-form
                    div.form-group
                      label(for="gdpr-password") Password
                      input(type="password", required="true", placeholder="Password").form-control#gdpr-password
                      div.text-muted
                        a(href="#")#gdpr-reset Forgotten your password?
                      div.invalid-feedback Incorrect password
                    div.form-check
                      input(type="checkbox", checked=true).form-check-input#gdpr-minimal
                      label(for="gdpr-minimal").form-check-label I agree to specific data processing as declared in the privacy policy. (optional)
                div.modal-footer
                  button(type="button").btn.btn-danger#gdpr-delete Delete Account
                  a(href="/logout.html").btn.btn-danger#gdpr-logout Logout
                  button(type="button").btn.btn-success#gdpr-btn I agree
          footer
            if config.PRIVACY_POLICY
              p
                a(href="/privacy.html") Privacy Policy
            span.blackbox-btns
              a(role="button", href="#").blackbox-btn#blackbox-toggle-footer Disable blackbox
              | &nbsp;&middot;&nbsp;
              a(role="button", href="#").blackbox-btn#dump-blackbox-footer Dump blackbox
              | &nbsp;&middot;&nbsp;
              a(role="button", href="#").blackbox-btn#clear-blackbox-footer Clear blackbox
  
